{
  "extends": "airbnb/base",
  // http://eslint.org/docs/rules/
  //copied from node_modules/eslint/conf/eslint.json
  // compared with and modified from : default and https://gist.github.com/Xantier/fa87bbd52d2e2bfd3750
  "plugins": [
    "react"
  ],
  globals: {
    "Promise": false,
    "__DEV__": false
  },

  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },

  "rules": {
    "newline-per-chained-call": "warn",
    "no-unused-expressions": "warn",
    "react/jsx-no-literals": "warn",
    "space-unary-ops": "warn",
    "no-lonely-if": "warn",
    "arrow-spacing": "warn",
    "prefer-arrow-callback": "warn",
    "object-shorthand": "warn",
    "react/jsx-curly-spacing": "warn",
    "react/jsx-closing-bracket-location": "warn",
    "no-nested-ternary": "warn",
    "one-var": "warn",
    "jsx-quotes": "warn",
    "one-var-declaration-per-line": "warn",
    "space-in-parens": "warn",
    "brace-style": "warn",
    "no-plusplus": "warn",
    "consistent-return": "warn",
    "padded-blocks": "warn",
    "import/no-named-as-default": "warn",
    "no-console": "warn",
    "no-multi-spaces": "warn",
    "import/no-named-as-default-member": "warn",
    "spaced-comment": "warn",
    "vars-on-top": "warn",
    "space-before-blocks": "warn",
    "space-infix-ops": "warn",
    "dot-notation": "warn",
    "react/jsx-max-props-per-line": "warn",
    "comma-spacing": "warn",
    "prefer-template": "warn",
    "key-spacing": "warn",
    "object-property-newline": "warn",
    "import/newline-after-import": "warn",
    "keyword-spacing": "warn",
    "import/no-duplicates": "warn",
    "comma-dangle": "warn",
    "block-spacing": "warn",
    "func-names": "warn",
    "no-var": "warn",
    "prefer-const": "warn",
    "react/jsx-sort-props": "warn",
    "quotes": "warn",
    "object-curly-spacing": "warn",
    "react/jsx-indent-props": "warn",
    "no-unused-vars": "warn",
    "quote-props": "warn",
    "indent": "warn",
    "import/imports-first": "warn",
    "import/extensions": "warn",
    "arrow-parens": "warn",
    "react/jsx-sort-prop-types": "warn",
    "arrow-body-style": 0,
    "new-cap":0,
    "default-case": "warn",
    "no-param-reassign": "warn",
    "semi": 0,
    "no-confusing-arrow": 'warn',
    'max-len': ['warn', 120, 2, {
      ignoreUrls: true,
      ignoreComments: false
    }],
    "no-underscore-dangle": [ "warn", { "allow": ["_id", "_rev", "_deleted"] } ],
    "no-else-return": 0,
    "no-use-before-define": 0,
    "react/jsx-no-bind": 0,
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
